/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

a {
    color: rebeccapurple;
}

a:hover {
    color: rgb(64, 185, 64);
}

/* this sucks. i hate websites. */
a:focus-visible {
    border: 3px solid fuchsia;
}

body {
    color: #1b1b1b;
    background-color: #efefef;
    font-size: 30px;
}

ul img {
    border: 5px solid pink;
}

div img {
    border: 15px solid brown;
}

.purple-giraffe-container {
    max-width: 800px;
    margin: 0 auto;
}

.snow-day {
    color: purple;
}

.snow-angel {
    border: 10px solid white;
}

.thursday-image  {
    width: 300px;
}

.purple-giraffe-hero {
    background-image: url(../img/fire-dark-1920x1200-15331.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.purple-giraffe-heading {
    text-align: center;
}

.purple-giraffe-container .purple-giraffe-inner-heading {
    border: 3px solid red;
}

.purple-giraffe-image-wrapper {
    text-align: center;
}

.purple-giraffe-featured {
    text-shadow: 1px 1px 1px pink, 1px 3px 1px green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.purple-giraffe-featured p {
    background: #2a52be;
    padding: 20px;
    border-radius: 12px;
}

/* ABOUT PAGE */

/* CONTACT PAGE */


/* FOOTER */

footer {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}
