/* Place CSS styles here */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: rebeccapurple;

}

a:hover {
    color: rgb(64, 185, 64);
}

/* this sucks. i hate websites. */
a:focus-visible {
    border: 3px solid fuchsia;
}

.nav-block a {
    display: inline-block;
    width: 33.5%;
    border: 2px solid black;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: orange;
    box-sizing: content-box;
}

.nav-flex {
    background-color: #ffdbe0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 12px 20px;
    margin-bottom: 20px;
}

.nav-flex a {
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px 24px;
    background-color: fuchsia;
    box-sizing: content-box;
    flex: 1;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 12px 20px;
    margin-bottom: 20px;
    background-color: #00c200;
}

.nav-grid a {
    border: 2px solid black;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: #2727ad;
    color: #fff;
    box-sizing: content-box;
}

body {
    color: #1b1b1b;
    background-color: #efefef;
    font-size: 16px;
    font-family: "PT Serif", serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

ul img {
    border: 5px solid pink;
}

div img {
    border: 15px solid brown;
}

.purple-giraffe-container {
    max-width: 800px;
    margin: 0 auto;
}

.snow-day {
    color: purple;
}

.snow-angel {
    border: 10px solid white;
}

.tuesday-hero-container {
    display: flex;
}

.tuesday-hero-image {
    background-image: url(../img/fire-dark-1920x1200-15331.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    flex-shrink: 0;
}

.tuesday-hero-heading {

}

.tuesday-hero-description {

}

.thursday-image  {
    width: 300px;
}

.purple-giraffe-hero {
    background-image: url(../img/fire-dark-1920x1200-15331.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.purple-giraffe-heading {
    text-align: center;
}

.purple-giraffe-container .purple-giraffe-inner-heading {
    border: 3px solid red;
}

.purple-giraffe-image-wrapper {
    text-align: center;
}

.purple-giraffe-featured {
    text-shadow: 1px 1px 1px pink, 1px 3px 1px green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.purple-giraffe-featured p {
    background: #2a52be;
    padding: 20px;
    border-radius: 12px;
}

/* ABOUT PAGE */

/* CONTACT PAGE */
.block {
    display: block;
    width: 300px;
    border: 2px solid black;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: orange;
    box-sizing: border-box;
}

.inline {
    display: inline-block;
    width: 300px;
    border: 2px solid black;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: orange;
    box-sizing: content-box;
}

.purple-giraffe-time-row {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.purple-giraffe-time-row img {
    width: 100%;
}

.purple-giraffe-banner {
    background-color: #fba6fb;
    padding: 8px;
    text-align: center;
}

.purple-giraffe-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purple-giraffe-header nav {
    display: flex;
    gap: 20px;
}

.purple-giraffe-flex-row {
    display: flex;
    gap: 20px;
}

.purple-giraffe-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo {
    width: 125px;
}

/* FOOTER */

footer {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}
