/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    color: #1b1b1b;
    background-color: #efefef;
    font-size: 30px;
}

.purple-giraffe-container {
    max-width: 800px;
    margin: 0 auto;
}

.snow-day {
    color: purple;
}

.snow-angel {
    border: 10px solid white;
}

.thursday-image  {
    width: 300px;
}

.purple-giraffe-hero {
    background-image: url(../img/fire-dark-1920x1200-15331.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;;
}

footer {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}
